<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/populares"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Generos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Elige el genero que quieras explorar
    </ion-card-content>
  
    <ion-button fill="clear" [routerLink]="[28]">Accion</ion-button>
    <ion-button fill="clear" [routerLink]="[12]">Aventura</ion-button>
    <ion-button fill="clear" [routerLink]="[16]">Animacion</ion-button>
    <ion-button fill="clear" [routerLink]="[35]">Comedia</ion-button>
    <ion-button fill="clear" [routerLink]="[80]">Crimen</ion-button>
    <ion-button fill="clear" [routerLink]="[99]">Documental</ion-button>
    <ion-button fill="clear" [routerLink]="[18]">Drama</ion-button>
    <ion-button fill="clear" [routerLink]="[10751]">Familia</ion-button>
    <ion-button fill="clear" [routerLink]="[14]">Fantasia</ion-button>
    <ion-button fill="clear" [routerLink]="[36]">Historia</ion-button>
    <ion-button fill="clear" [routerLink]="[27]">Horror</ion-button>
    <ion-button fill="clear" [routerLink]="[9648]">Misterio</ion-button>
    <ion-button fill="clear" [routerLink]="[10749]">Romance</ion-button>
    <ion-button fill="clear" [routerLink]="[878]">Siencia Ficcion</ion-button>
    <ion-button fill="clear" [routerLink]="[53]">suspenso</ion-button>
    <ion-button fill="clear" [routerLink]="[10752]">Guerra</ion-button>
  </ion-card>
</ion-content>
