ion-button[color="dark"]{
text-transform: initial;
}

ion-content{
    --background: none;
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/444/212/original/abstract-home-cinema-background-vector.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover
}